.contributors {
  @apply my-4;

  &__back-btn {
    @apply ml-5
  }

  //div {
  //  @apply flex flex-wrap mx-8;
  //}
}

@media (max-width: 500px) {
  .contributors {
    //div {
    //  @apply mx-2;
    //}
  }
}