@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer components {

}

.button {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg;
}

.navbar {
  @apply flex justify-between items-center gap-10 px-8 py-4 bg-blue-400 text-lg font-bold;
}

.text{
  @apply text-2xl text-center;
}

.text_error {
  @apply text-center text-3xl text-red-600;
}

.input{
  @apply
  border
  border-gray-300
  text-gray-900
  text-sm
  rounded-lg
  focus:ring-blue-500
  focus:border-blue-500
  block w-full p-2.5
  dark:bg-gray-700
  dark:border-gray-600
  dark:placeholder-gray-400
  dark:text-white
  dark:focus:ring-blue-500
  dark:focus:border-blue-500;
}

